// 左侧导航栏整体颜色和面包屑按钮颜色
$blues: #326482;
// title文字白色
$s_selectMeun: #f7f8f5;
// 顶部导航栏颜色
$s_topNav: #1492ff;
// 顶部导航选中后的背景颜色
$s_TopFontNavColor: #0062bd;
// 按钮颜色
$btnColor: #326482;
// 三角形
$s_triangle: #59aaf5;
// 面包屑背景色
$s_crumbs: #edf4ff;
//首页模块背景色
$w_backcolor: #fff;
//首页1370
$w_homecack: #56dbf5;
//首页最新数据
$w_homedata: #000000;
//首页阿里巴巴
$w_homebotton: #666666;
//首页点
$w_homeadd: #0064c0;
//首页内容
$w_homedetail: #999999;
// 页面主题背景色
$s_mainBgColor: #f2f3f5;
