.h10 {
  height: 10px;
}

.h20 {
  height: 20px;
}

.h25 {
  height: 25px;
}

.h30 {
  height: 30px;
}

.h35 {
  height: 35px;
}

.h40 {
  height: 40px;
}

.h45 {
  height: 45px;
}

.h66 {
  height: 66px;
}

.h50 {
  height: 50px;
}

.h70 {
  height: 70px;
}

.h80 {
  height: 80px;
}

.h100 {
  height: 100px;
}
.h400 {
  height: 400px;
}
.h600 {
  height: 600px;
}
.minh400 {
  min-height: 400px;
}
.maxh400 {
  max-height: 400px;
}
/*行高*/
.lh20 {
  line-height: 20px;
}

.lh23 {
  line-height: 23px;
}

.lh25 {
  line-height: 25px;
}

.lh28 {
  line-height: 28px;
}

.lh30 {
  line-height: 30px;
}
.lh32 {
  line-height: 32px;
}
.lh35 {
  line-height: 35px;
}

.lh36 {
  line-height: 36px;
}

.lh38 {
  line-height: 38px;
}

.lh40 {
  line-height: 40px;
}

.lh45 {
  line-height: 45px;
}

.lh56 {
  line-height: 56px;
}
.hx100 {
    height: 100%;
}
