.linear {
  // width: 400px;
  height: 3px;
  background: #0079fe;
  opacity: 0.4;
  border-radius: 50%;
}
.verticalLine {
  display: inline-block;
  width: 2px;
  height: 90%;
  background: #024d9e;
  border-radius: 50%;
}
